
.wp-block-greglebarbar-news {
    
    a:link { 
        text-decoration:none !important;
    } 

    .h5 {
        font-size: 120%;
    }

    .list-group-teaser-thumbnail {
        float: left;
        margin-right: 3%;
    }

    .img-fluid {
        width: 180px;
    }

}

#epfl-news-themes {
    width: 100% !important;
}